<!DOCTYPE html>

<head>
	<title>Hike It!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div id=body_top>
	</div>

	<div id="top">
		<img src="logo
		<a id="link_logo" href="index.html">
		<a id="link_about" href="#about">
		<a id="link_contact" href="#contact">
		<a id="link_feedback" href="#contact">
	</div>

	<div id="under_top">
	</div>

	<div id="google_map>
		<div id="sidebar_right">
		</div>

	</div>

	<div id="map_under">
	</div>

	<div id="footer">
	</div>
</body>

