html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#map-canvas {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    z-index: 0;
}

.header {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

.menu-right {
    float: right;
    z-index: 30;
    border-style: solid;
    border-width: 0.5px;
    position: absolute;
    right: 20px;
    top: 350px;
    background-color: gray;
}