html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#map-canvas {
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0px;
}

.header {
	margin-top: 100px;
	margin-bottom: 20px;
	text-align: center;
}