body {
	text-align: center;
	background: #206f70;
	font-family: helvetica;
	padding: 0;
}

#header_top {
	background: url("/static/img/body_top.jpg");
	height: 10px;
	position:absolute;
	left:0;
	right:0;
}

.header {
	background: url("/static/img/top_background.jpg");
    background-size: cover;
	height: 96px;
	width: 900px;
	margin: 0px auto;
}

#under_header {
	background: url("/static/img/under_top.jpg");
	height: 2px;
	left:0;
	right:0;
	margin-bottom: 0px;
}

ul{
	margin: 0;
	padding: 0; 
	list-style-type: none;
	list-style-image: none;
}

li {
	display:inline;
}

#link_about {
	background: url("../img/button_about.png");
	text-indent:-9999px;
	width: 45px;
	height: 12px;
	float: right;
	margin-right: 68px;
}

#link_contact {
	background: url("../img/button_contact.png");
	text-indent:-9999px;
	width: 65px;
	height: 12px;
	float:right;
	margin-right: 68px;
}

#link_feedback {
	background: url("../img/button_feedback.png");
	text-indent:-9999px;
	width: 30px;
	height: 12px;
	float: right;
	padding-right: 41px;
}

#link_logo {
	#cred ca float left merge
}

#link_about {
	background: url("/static/img/button_about.png");
}

#link_contact {
	background: url("/static/img/button_contact.png");
}

#link_feedback {
	background: url("/static/img/button_feedback.png");
}

#under_top {
}

#sidebar_right {
	background: rgba(0, 51, 51, 0.83);
	
}

#map_under {
	background: url("/static/img/map_under.jpg");
	height: 2px;
	position:absolute;
	left:0;
	right:0;
}

#footer {
	background: #4c3a08;
	height: 699px;
	position:absolute;
	left:0;
	right:0;
}

#footer_img {
	background: url("/static/img/footer_background.jpg");
	height: 699px;
	position:absolute;
	left: 0;
	right: 0;
	width: 789px;
	margin: 0px auto;
}
	
