<!DOCTYPE html>
<html>
    <head>
        <title>Simple Map</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/map.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>

        <div id="header_top"></div>
        <div class="header">
			<ul id="links">
				<li><a id="link_feedback" href="#footer">feedback></a></li>
				<li><a id="link_contact" href="#footer">contact></a></li>
				<li><a id="link_about" href="#footer">about</a></li>
			</ul>
        </div>
        <div id="under_header"></div>

        <div class="menu-right">
            <div class="menu-add-route">
                <div class="menu-action-buttons">
                    <button class="btn btn-primary action_change" data-action="search_map" id="searchRoute">Search route</button>
                    <button class="btn btn-default action_change" data-action="create_map" id="addRoute">Add route</button>
                </div>
                <form class="search-create">
                    <input type="text" autofocus="" id="start" placeholder="Start of route" class="form-control">
                    <input type="text" id="stop" placeholder="End of route" class="form-control">
                    <button type="submit" class="btn btn-primary btn-block">Go</button>
                </form>
                <button style="display:none" id="undoPoint" class="btn btn-lg btn-default" id="undoPoint">Undo marker</button>
            </div>
            <br/>
            <div class="menu-routes">
                <ul class="routes-list">Routes:</ul>
            </div>
        </div>
        <div id="map-canvas"></div>
        <div id="elevation_chart"></div>

        <div id="map_under"></div>
        <div id="footer">
		     <div id="footer_img"></div>
		</div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry&sensor=true"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript" src="/static/js/libs/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/static/js/map.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    </body>
</html>
